---
import logo from '$assets/logo.svg';
import { NAVIGATION_ITEMS } from '$data/navigation';

import styles from './Navbar.module.css';
---

<header class={styles.header}>
  <div class:list={['container', [styles.container]]}>
    <a href="#" class={styles.logo}>
      <img src={logo} alt="Easybank Logo" />
    </a>
    <button id="nav-toggle" aria-controls="nav-items" aria-expanded="false" class={styles.navToggle}>
      <span class="sr-only">Menu</span>
    </button>
    <nav id="primary-nav" data-visible="false" class={styles.nav} aria-label="Primary">
      <ul id="nav-items" class={styles.navItems}>
        {
          NAVIGATION_ITEMS.map((item) => (
            <li class={styles.navItem}>
              <a class={styles.navLink} href={item.href}>
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <button class:list={['btn-gradient', [styles.cta]]}>Request Invite</button>
  </div>
</header>

<script>
  import { trapFocus } from '$utils/trapFocus';
  const nav = document.getElementById('primary-nav') as HTMLDivElement;
  const navToggle = document.getElementById('nav-toggle') as HTMLButtonElement;

  const handleNavToggle = () => {
    const next = navToggle.getAttribute('aria-expanded') === 'true' ? 'false' : 'true';
    navToggle.setAttribute('aria-expanded', next);
    nav.setAttribute('data-visible', next);
    handleTrapFocus(next === 'true');
  };

  const handleTrapFocus = trapFocus(nav, navToggle, handleNavToggle);
  navToggle.addEventListener('click', handleNavToggle);
</script>
